<div class="table__container form mat-elevation-z8">
  <h2 appTittleFontSize>Detalles del usuario</h2>

  <table *ngIf="studentById" class="studenst__table" mat-table [dataSource]="[studentById]">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let studentById"> {{studentById.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let studentById"> {{ studentById | fullName : "firstUpper" }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let studentById"> {{studentById.email}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let studentById"> {{studentById.address}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let studentById"> {{studentById.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudentsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStudentsColumns;"></tr>
  </table>
  <p *ngIf="!studentById">No se encontraron inscripciones para este estudiante.</p>
</div>

<div class="table__container form mat-elevation-z8">
  <h2 appTittleFontSize>Detalles de Inscripciones</h2>

  <table *ngIf="registrationsById.length > 0" class="studenst__table" mat-table [dataSource]="registrationsById">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let registration"> {{registration.course.id}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let registration"> {{ registration.course.courseName }} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
      <td mat-cell *matCellDef="let registration"> {{registration.course.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Cierre </th>
      <td mat-cell *matCellDef="let registration"> {{registration.course.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef> Profesor </th>
      <td mat-cell *matCellDef="let registration"> {{registration.course.profesor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedCoursesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCoursesColumns;"></tr>
  </table>
  <p *ngIf="registrationsById.length === 0">No se encontraron inscripciones para este estudiante.</p>
</div>