<!-- <div *ngIf="student">
  <h2>Detalles del estudiante | !!!pasar a tabla de angular material</h2>
  <table>
    <tr>
      <th>ID</th>
      <td>{{ student.id }}</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>{{ student.firstName }} {{ student.lastName }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ student.email }}</td>
    </tr>
    <tr>
      <th>Dirección</th>
      <td>{{ student.address }}</td>
    </tr>
    <tr>
      <th>Teléfono</th>
      <td>{{ student.phone }}</td>
    </tr>
    <tr>
      <th>Rol</th>
      <td>{{ student.role }}</td>
    </tr>
  </table>
</div> -->
<div *ngIf="student" class="table__container form mat-elevation-z8">
  <h2 appTittleFontSize>Detalles del estudiante</h2>

  <table class="studenst__table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let student"> {{ student | fullName : "firstUpper" }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let student"> {{student.email}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let student"> {{student.address}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let student"> {{student.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <p *ngIf="dataSource.length === 0"> No hay estudiantes para mostrar</p>
</div>