.table__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .add__course {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

a {
    cursor: pointer;
}