.header {
    background-color: rgb(21, 21, 106);
    width: 100%;
    color: whitesmoke;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__main {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    button:hover {
        color:chocolate;
    }

    .data__container{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .data__name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

}