<h2 class="form__title" appTittleFontSize>Nuevo Usuario</h2>
<mat-dialog-content class="form__container">
  <form [formGroup]="studentForm" class="form__container">

    <mat-form-field class="form__field">
      <mat-label>Nombre</mat-label>
      <input formControlName="firstName" matInput type="text" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Apellido</mat-label>
      <input formControlName="lastName" matInput type="text" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>E-mail</mat-label>
      <input formControlName="email" matInput type="email" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Dirección</mat-label>
      <input formControlName="address" matInput type="text" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Teléfono</mat-label>
      <input formControlName="phone" matInput type="text" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput type="password" />
      <mat-error>{{ studentForm.get('password')?.errors | validationErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngIf="authService.authUser?.role === 'ADMIN'" value="ADMIN">ADMIN</mat-option>  
        <mat-option *ngIf="authService.authUser?.role === 'ADMIN'" value="USER">USER</mat-option>
        <mat-option value="STUDENT">STUDENT</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions class="form__actions">
  <button (click)="onSave()" class="form__button" mat-raised-button color="primary" class="dialog__button">
    Guardar
  </button>
  <button class="form__button" mat-raised-button mat-dialog-close color="warn" class="dialog__button">
    Cancelar
  </button>
</mat-dialog-actions>