.sidenav__container {
    height: 100vh;
    min-width: 300px;

    .sidenav {
        height: 100vh;
        background-color: rgb(21, 21, 106);
        margin: 10px 10px 10px 5px;
        border-radius: 10px;
        padding: 20px;

        .sidenav__item{
            
            .sidenav__link{
                color: whitesmoke;
                text-decoration: none;

            }

        }

    }
}