.sidenav__conteiner {
    height: 100%;

    .sidenav {
        height: 100%;
        background-color: rgb(21, 21, 106);
        margin: 10px 10px 10px 5px;
        border-radius: 10px;

        .sidenav__item{
            
            .sidenav__link{
                color: whitesmoke;
                text-decoration: none;

            }

        }

    }
}