<mat-drawer-container class="sidenav__container" autosize>
  <mat-drawer  #drawer class="sidenav" mode="side" [opened]="isSidenavOpen">
    <mat-list class="sidenav__list" role="list">
      <mat-list-item class="sidenav__item" role="listitem"><a class="sidenav__link" href="#">HOME</a></mat-list-item>
      <mat-list-item class="sidenav__item" role="listitem"><a class="sidenav__link"
          href="#">ESTUDIANTES</a></mat-list-item>
      <mat-list-item class="sidenav__item" role="listitem"><a class="sidenav__link" href="#">CURSOS</a></mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>